{% extends "componentes/base.html" %}

<!-- Modificacion del titulo de la pestaña -->
{% block title %}Bienvenidos a OnlyFlans{% endblock %}

<!-- Añado el contenido del body -->
{% block content %}


<body class="d-flex flex-column min-vh-100">

    <!-- Hero principal -->
    <section class="hero text-center">
        <div class="container">
            <h1 class="display-5 fw-bold">Bienvenido a Onlyflans</h1>
            <p class="lead text-black">Descubre productos seleccionados especialmente para ti</p>
        </div>
    </section>

    <!-- Sección de productos -->
    <main class="flex-grow-1">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mb-5 fw-bold text-dark">Nuestros Productos</h2>

            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for flan in flanes %}
                <div class="col mb-5">
                    <div class="card h-100 border-0 shadow-sm product-card bg-white">
                        <img class="card-img-top" src="{{ flan.imagen.url }}" alt="{{ flan.name }}" style="height: 280px; object-fit: cover;" />
                        <div class="card-body p-4 text-center">
                            <h5 class="card-title">{{ flan.name }}</h5>
                            <p class="text-muted mb-0">CLP {{ flan.price|floatformat:0 }}</p>
                        </div>
                        <div class="card-footer bg-transparent text-center pb-4 border-0">
                            <a href="" class="btn btn-outline-primary btn-sm btn-view">Ver más</a>      <!-- url 'detalle' producto.pk -->
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </main>
</body>



{% endblock %}