<!--  Modal: Registrarse -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="registerModalLabel">Crear Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_first_name" class="form-label">Nombre</label>
                        {{ register_form.first_name }}
                    </div>
                    <div class="mb-3">
                        <label for="id_last_name" class="form-label">Apellido</label>
                        {{ register_form.last_name }}
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Correo electrónico</label>
                        {{ register_form.email }}
                    </div>
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Nombre de usuario</label>
                        {{ register_form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="id_password1" class="form-label">Contraseña</label>
                        {{ register_form.password1 }}
                    </div>
                    <div class="mb-3">
                        <label for="id_password2" class="form-label">Repetir contraseña</label>
                        {{ register_form.password2 }}
                    </div>
                    <button type="submit" class="btn w-100" style="background-color: #5f5aaf; color: #fff;">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>