<!--  Modal: Iniciar Sesión -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-light">
              <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Acceder</button>
                </form>
            </div>
        </div>
    </div>
</div>