{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% include "componentes/scripts.html" %}
  </head>

  <body class="d-flex flex-column min-vh-100 container-fluid px-0"> <!-- Flexbox vertical -->
    
    {% include "componentes/navbar.html" %}
    
    {% block header %}
      {% include "componentes/header.html" %}
    {% endblock %}

    <main class="flex-fill container-fluid px-0"> <!-- Se expande para empujar el footer -->
      {% block content %}{% endblock %}
    </main>

    {% include "componentes/footer.html" %}
    
  </body>
</html>
