{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% include "componentes/scripts.html" %}
  </head>

  <body class="d-flex flex-column min-vh-100 container-fluid px-0"> 
    
    {% include "componentes/navbar.html" %}
    
    {% include "componentes/messages.html" %}

    {% block header %}
      {% include "componentes/header.html" %} 
    {% endblock %}


    <main class="flex-fill container-fluid px-0"> 

      <!-- Modal de contacto global -->
      {% include "modals/modal_contact.html" %}

      <!--  Modal: Iniciar Sesión -->
      {% include "modals/modal_login.html" %}

      <!--  Modal: Registrarse -->
      {% include "modals/modal_register.html" %}

      <!-- Contenido de página -->    
      {% block content %}{% endblock %}
    </main>

    <!-- Script para abrir el modal si hay errores en el formulario -->
    {% if register_form.errors %}
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var registerModal = new bootstrap.Modal(document.getElementById('registerModal'));
          registerModal.show();
        });
      </script>
    {% elif login_form.errors %}
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
          loginModal.show();
        });
      </script>
    {% elif contact_form.errors %}
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var contactModal = new bootstrap.Modal(document.getElementById('contactModal'));
          contactModal.show();
        });
      </script>
    {% endif %}

    <!-- Footer -->
    {% include "componentes/footer.html" %}
    
  </body>
</html>

