{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% include "componentes/scripts.html" %}
  </head>

  <body class="d-flex flex-column min-vh-100 container-fluid px-0"> <!-- Flexbox vertical -->
    
    {% include "componentes/navbar.html" %}
    
    {% include "componentes/messages.html" %}

    {% block header %}
      {% include "componentes/header.html" %} 
    {% endblock %}

    <main class="flex-fill container-fluid px-0"> 

      <!-- Modal de contacto global -->
      <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form method="post" action="{% url 'contact' %}">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contáctanos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
              </div>
              <div class="modal-body">
                {{ contact_form.as_p }}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--  Modal: Iniciar Sesión -->
      {% include "modals/modal_login.html" %}


      <!--  Modal: Registrarse -->
      {% include "modals/modal_register.html" %}

          
      {% block content %}{% endblock %}
    </main>

    {% include "componentes/footer.html" %}
    
  </body>
</html>

