{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar shadow-sm sticky-top">
    <div class="container-fluid">
        <!-- Logo -->
        {% if user.is_authenticated %} 
            <a class="navbar-brand" href="{% url 'welcome' %}">
                <img src="{% static 'web/img/logo_navbar.png' %}" alt="Logo" height="55">
            </a>
        {% else %}
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'web/img/logo_navbar.png' %}" alt="Logo" height="55">
            </a> 
        {% endif %}    
            

        <!-- Botón hamburguesa -->
        <button 
            class="navbar-toggler ms-auto" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarContent"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú colapsable -->
        <div class="collapse navbar-collapse text-lg-end" id="navbarContent">
            <ul class="navbar-nav ms-auto">

                {% if not user.is_authenticated %}
                <!-- INICIO -->
                <li class="nav-item">
                    <a class="nav-link px-lg-3" href="{% url 'home' %}">INICIO</a>
                </li>
                {% endif %}

                <!-- ACERCA -->
                <li class="nav-item">
                    <a class="nav-link px-lg-3" href="{% url 'about' %}">ACERCA</a>
                </li>

                <!-- CONTACTO-->
                <li class="nav-item">
                    <button type="button" class="nav-link px-lg-3 btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#contactModal">
                        CONTACTO
                    </button>
                </li>

                <!-- BIENVENIDO -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link px-lg-3" href="{% url 'welcome' %}">BIENVENIDO @{{ user.username }}</a>
                </li>
                {% endif %}                

                {% if user.is_authenticated %}
                    <!-- Logout -->
                    <li class="nav-item d-flex align-items-center px-lg-2">
                        <a class="nav-link px-lg-3" href="{% url 'logout' %}">Salir</a>
                    </li>
                {% else %}
                    <!-- Iniciar Sesion (modal) -->
                    <li class="nav-item d-flex align-items-center px-lg-2">
                        <button type="button" class="nav-link btn btn-link text-decoration-none small" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar Sesión</button>
                    </li>

                    <!-- Registrarse (modal) -->
                    <li class="nav-item d-flex align-items-center px-lg-2">
                        <button type="button" class="nav-link btn btn-link text-decoration-none small" data-bs-toggle="modal" data-bs-target="#registerModal">Registrarse</button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


